.order-cart {
    display: flex;
    margin-top: 50px;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
}

thead {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

tbody {
    text-align: center;
}

td {
    vertical-align: middle;
}

td img {
    width: 100px;
}

.hide-info {
    display: none;
}

td input {
    border: 1px solid #fc8410;
    width: 50px;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.product-count button {
    background-color: #fc8410;
    border-color: #fc8410;
    border-radius: 4px;
    color: #fff;
    padding: 4px 8px;  
}

.confirm-button-lg {
    background-color: red; 
    color: #FFFF; 
}

.confirm-order {
    padding: 20px;
    font-size: 18px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.order-info {
    display: flex;
    justify-content: space-between;
}

.confirm-order-btn {
    display: flex;
    justify-content: center;
}

.confirm-order-btn a {
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
}

@media (max-width: 991px) {
    .order-cart {
        display: block;
        margin-top: 200px;
    }

    .hide-info {
        display: block;
    }

    thead {
        display: none;
    }

    tbody {
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }

    tbody td {
        display: block;
        border: none;
    } 

    td img {
        width: 250px;
    }

    .remove-btn {
        display: flex;
        justify-content: center;
    }

    .confirm-button-lg {
        display: none;
    }

    .confirm-button-sm {
        margin: 20px;
        background-color: red;
        color: #ffff;
        border-radius: 6px;
        padding: 10px 75px;
    }

    .confirm-button-sm:hover {
        background-color: #000;
    }

}